<?xml version="1.0" encoding="UTF-8"?>
<!--<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--         xmlns="http://java.sun.com/xml/ns/javaee"-->
<!--         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"-->
<!--         version="3.0">-->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">
<!--  <servlet>-->
<!--    <servlet-name>mainRedit</servlet-name>-->
<!--    <servlet-class>MainRedit</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet>-->
<!--    <servlet-name>hi</servlet-name>-->
<!--    <servlet-class>Hi</servlet-class>-->
<!--  </servlet>-->
<!--&lt;!&ndash;  <servlet-mapping>&ndash;&gt;-->
<!--&lt;!&ndash;    <servlet-name>mainRedit</servlet-name>&ndash;&gt;-->
<!--&lt;!&ndash;    <url-pattern>/mainRedit</url-pattern>&ndash;&gt;-->
<!--&lt;!&ndash;  </servlet-mapping>&ndash;&gt;-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>hi</servlet-name>-->
<!--    <url-pattern>/hi</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <servlet>-->
<!--    <servlet-name>register</servlet-name>-->
<!--    <servlet-class>Registr</servlet-class>-->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>register</servlet-name>-->
<!--    <url-pattern>/register</url-pattern>-->
<!--  </servlet-mapping>-->
<!--  <welcome-file-list>-->
<!--    <welcome-file>reg.html</welcome-file>-->
<!--  </welcome-file-list>-->
<!--  <servlet>-->
<!--    <servlet-name>mainServlet</servlet-name>-->
<!--    <servlet-class>com.devcolibri.servlet.MainRedit</servlet-class>-->
<!--  </servlet>-->

<!--  <servlet-mapping>-->
<!--    <servlet-name>mainServlet</servlet-name>-->
<!--    <url-pattern>/</url-pattern>-->
<!--  </servlet-mapping>-->

</web-app>
